
<section id="contacts-1" class="pb-50 inner-page-hero contacts-section division">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-9">
				<div class="section-title text-center mb-80">

					<!-- Title -->
					<h2 class="s-52 w-700">Sevdiklərinizi Sevindirin</h2>

					<!-- Text -->
					<p class="p-lg">
						Mesajınız,səsiniz və ya video görüntünüzlə sevdiklərinizə ən xoş ürək sözlərinizi özəl formada çatdırın
					</p>

				</div>
			</div>
		</div>


		<!-- CONTACT FORM -->
		<div class="row justify-content-center">
			<div class="col-md-11 col-lg-10 col-xl-8">
				<div class="form-holder">
					<form name="contactform" class="row contact-form">

						

						<!-- Contact Form Input -->
						<div class="col-md-12">
							<p class="p-lg">Adınız: </p>
							<span>Açıqcanı göndərən şəxs və şəxslərin adı(Məs. Dostlar)</span>
							<input type="text" name="name" class="form-control name" placeholder="Ad*">
						</div>

						<div class="col-md-12">
							<p class="p-lg">Telefon Nömrəniz: </p>
							<span>Hədiyyə çatdırıldıqda sizə məlumat göndəriləcək</span>
							<input type="text" name="tel" class="form-control email" placeholder="Telefon Nömrəniz*">
						</div>
						<div class="col-md-12">
							<p class="p-lg">Alıcının Nömrəsi: </p>
							<span>Hədiyyənin sahibi nömrəsinə göndərdiyimiz kod ilə aktivləşdirəcək.</span>
							<input type="text" name="tel" class="form-control email" placeholder="Şəxsin nömrəsi*">
						</div>
						<div class="col-md-12">
							<p class="p-lg">Başlıq: </p>
							<span>Mesajınıza qısa başlıq qeyd edin</span>
							<input type="text" name="tel" class="form-control email" placeholder="Mesaj Başlıq*">
						</div>
						<div class="col-md-12 mt-3">
							<p class="p-lg">Şəkillər: </p>
							<span>Şəkil sayı 10 ədədi keçməməlidir</span>
							<input type="file" name="tel" class="" placeholder="Səsli İsmarıc*">
						</div>
						<div class="col-md-12 mt-3">
							<p class="p-lg">Səsli İsmarıc: </p>
							<span>Səsin vaxtının 3 dəqiqəni keçməməsinə diqqət edin</span>
							<input type="file" name="tel" class="" placeholder="Səsli İsmarıc*">
						</div>

						<div class="col-md-12 mt-3">
							<p class="p-lg">Görüntülü İsmarıc: </p>
							<span>Görüntünün vaxtının 3 dəqiqəni keçməməsinə diqqət edin</span>
							<input type="file" name="tel" class=" " placeholder="Görüntülü İsmarıc*">
						</div>

						<div class="col-md-12 mt-3">
							<p class="p-lg">Mesaj: </p>
							<span>Təbrik və ya mesajınızı qeyd edin</span>
							<textarea class="form-control message" name="message" rows="6" placeholder="Əziz dostum,doğum günün münasibətilə..."></textarea>
						</div>

						<!-- Contact Form Button -->
						<div class="col-md-12 mt-15 form-btn text-right">
							<button type="submit" class="btn btn--theme hover--theme submit">Göndər</button>
							<a asp-action="Message" asp-controller="Preview" class="btn btn--theme hover--theme submit">Nümunə</a>
						</div>

					

						<!-- Contact Form Message -->
						<div class="col-lg-12 contact-form-msg">
							<span class="loading"></span>
						</div>

					</form>
				</div>
			</div>
		</div>	   <!-- END CONTACT FORM -->


	</div>	   <!-- End container -->
</section>	<!-- END CONTACTS-1 -->
<!-- DIVIDER LINE -->
<hr class="divider">




<!-- NEWSLETTER-1
============================================= -->
<section id="newsletter-1" class="newsletter-section">
	<div class="newsletter-overlay">
		<div class="container">
			<div class="row d-flex align-items-center row-cols-1 row-cols-lg-2">


				<!-- NEWSLETTER TEXT -->
				<div class="col">
					<div class="newsletter-txt">
						<h4 class="s-34 w-700">Stay up to date with our news, ideas and updates</h4>
					</div>
				</div>


				<!-- NEWSLETTER FORM -->
				<div class="col">
					<form class="newsletter-form">

						<div class="input-group">
							<input type="email" autocomplete="off" class="form-control" placeholder="Your email address" required id="s-email">
							<span class="input-group-btn">
								<button type="submit" class="btn btn--theme hover--theme">Subscribe Now</button>
							</span>
						</div>

						<!-- Newsletter Form Notification -->
						<label for="s-email" class="form-notification"></label>

					</form>
				</div>	  <!-- END NEWSLETTER FORM -->


			</div>	  <!-- End row -->
		</div>    <!-- End container -->
	</div>     <!-- End newsletter-overlay -->
</section>	<!-- END NEWSLETTER-1 -->
<!-- DIVIDER LINE -->
<hr class="divider">
