<!-- SINGLE PROJECT-1
			============================================= -->
<section id="project-1" class="gr--whitesmoke inner-page-hero single-project">
	<div class="container">
		<div class="row justify-content-center">


			<!-- PROJECT DISCRIPTION -->
			<div class="col-lg-11 col-xl-10">
				<div class="project-description">


					<!-- PROJECT TITLE -->
					<div style="justify-content:center;" class="d-flex project-title">

						<!-- Title -->
						<h1 style="font-family:cursive,'Lucida Handwriting'; color:brown;" class="s-52 w-900">Ən Xoş Arzularla Ailən</h1>

						<!-- Project Data -->
						

					</div>	<!-- END PROJECT TITLE -->
					<!-- PROJECT PREVIEW IMAGE  -->
					<div class="project-priview-img mb-50">
						<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="img-fluid r-16" src="~/images/pexels-cottonbro-studio-4114739.jpg" alt="project-preview">
								</div>
								<div class="carousel-item">
									<img class="img-fluid r-16" src="~/images/pexels-craig-adderley-1543762.jpg" alt="project-preview">
								</div>
								<div class="carousel-item">
									<img class="img-fluid r-16" src="~/images/pexels-george-dolgikh-2072149.jpg" alt="project-preview">
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
						
					</div>


					<!-- PROJECT TEXT -->
					<div class="project-txt">

						<!-- Text -->
						<h5 style="font-family:cursive,'Lucida Handwriting';">
						"Əzizimiz, sizinlə olmaq və bu özəl günü sizinlə qeyd etmək bizim üçün bir şərəfdir. Sizinlə keçirdiyimiz hər an həyatımıza gətirdiyiniz sevinc və sevgi ilə doludur. Ad günün mübarək! Sağlamlıq, xoşbəxtlik və uğurlar arzulayıram. səninlə olaq.Ailə olaraq hər zaman sənin yanındayıq və səni sevirik.Sizi sevirik.Gəlin birlikdə çoxlu gözəl illər və çoxlu xoşbəxt xatirələr yaradaq.Ad gününüz mübarək, daha uzun illər!"
						</h5>

						<!-- List -->
						

						<!-- Small Title -->
						<h2 class="s-24 w-900 mt-50 mb-35">Səsli İsmarıc</h2>

						<!-- PROJECT IMAGES -->
						<div style="justify-content:center;" class="row d-flex align-items-center project-inner-img mt-50">

							<!-- IMAGE #1 -->
							<div class="col-md-8">
								<div class="project-image project-preview top-img r-10">

									<!-- Project Preview -->
									<div class="hover-overlay">
										<audio style="width: 100%;" controls>
											<source src="~/images/mp.mp3" type="audio/ogg">
											<source src="~/images/mp.mp3" type="audio/mpeg">
											Your browser does not support the audio element.
										</audio>
										<div class="item-overlay"></div>
									</div>


								</div>
							</div>

							<!-- IMAGE #2 -->
							

						</div>	<!-- END PROJECT IMAGES -->
						<!-- WIDE IMAGE -->
						
						<h2 class="s-24 w-900 mt-50 mb-35">Görüntülü İsmarıc</h2>

						<div class="project-image project-inner-img video-preview mt-50">

							<!-- Play Icon -->
							<a class="video-popup1" href="https://www.youtube.com/watch?v=uyWt8NV53r0">
								<div class="video-btn video-btn-xl bg--pink-400">
									<div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
								</div>
							</a>

							<!-- Preview Image -->
							<img class="img-fluid r-10" src="~/images/pexels-vjapratama-935789.jpg" alt="video-preview">

						</div>	<!-- END VIDEO PREVIEW -->
						<!-- Small Title -->
						


				</div>
			</div>	<!-- END PROJECT DISCRIPTION -->


		</div>	  <!-- End row -->
	</div>	   <!-- End container -->
</section>	<!-- END SINGLE PROJECT-1 -->